@model IEnumerable<dominio.Disco>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado</h1>

<p>
    <a asp-action="Create">Agregar Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaLanzamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadCanciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrlTapa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaLanzamiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadCanciones)
            </td>
            <td>
                <img src="@item.UrlTapa" width="50"/>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
